!Nord colorscheme
#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD
#define mybg #1C2023

!gruvbox colorscheme
! hard contrast: *background: #1d2021
! med contrast: *background: #282828
! soft contrast: *background: #32302f

! BG
#define gruvboxBG #282828
! FG
#define gruvboxFG #ebdbb2
! Black + DarkGrey
#define gb0  #282828
#define gb8  #928374
! DarkRed + Red
#define gb1  #cc241d
#define gb9  #fb4934
! DarkGreen + Green
#define gb2  #98971a
#define gb10 #b8bb26
! DarkYellow + Yellow
#define gb3  #d79921
#define gb11 #fabd2f
! DarkBlue + Blue
#define gb4  #458588
#define gb12 #83a598
! DarkMagenta + Magenta
#define gb5  #b16286
#define gb13 #d3869b
! DarkCyan + Cyan
#define gb6  #689d6a
#define gb14 #8ec07c
! LightGrey + White
#define gb7  #a89984
#define gb15 #ebdbb2

Sxiv.foreground:gruvboxFG
Sxiv.background:gruvboxBG


URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
URxvt.resize-font.step: 1
URxvt.perl-ext-common: resize-font
URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.internalBorder: 24

!URxvt.font: xft:Iosevka SS12:style=Regular:size=14
!URxvt.boldFont: xft:Iosevka SS12:style=Bold:size=14	
!URxvt.italicFont: xft:Iosevka SS12:style=Italic:size=14	
!URxvt.boldItalicFont: xft:Iosevka SS12:style=Bold Italic:size=14	

URxvt.font: xft:Fira Code:style=Medium:size=14
URxvt.boldFont: xft:Fira Code:style=Bold:size=14	
URxvt.italicFont: xft:Fira Code:style=Italic:size=14	
URxvt.boldItalicFont: xft:Fira Code:style=Bold Italic:size=14	

URxvt.keysym.Control-Down:     resize-font:smaller
URxvt.keysym.Control-Up:      resize-font:bigger
URxvt.keysym.Control-Right:     resize-font:reset

URxvt.urlLauncher: brave-browser
URxvt.underlineURLs: true
URxvt.urlButton: 1

!Colors

URxvt.foreground: gruvboxFG
URxvt.background: gruvboxBG 
!URxvt.cursorColor:  nord4
!URxvtfading: 35
!URxvtfadeColor: nord3

URxvt.color0: gb0
URxvt.color1: gb1
URxvt.color2: gb2
URxvt.color3: gb3
URxvt.color4: gb4
URxvt.color5: gb5
URxvt.color6: gb6
URxvt.color7: gb7
URxvt.color8: gb8
URxvt.color9: gb9
URxvt.color10: gb10
URxvt.color11: gb11
URxvt.color12: gb12
URxvt.color13: gb13
URxvt.color14: gb14
URxvt.color15: gb15


*.color0: gruvboxBG
*.color1: gb1
*.color2: gb2
*.color3: gb3
*.color4: gb4
*.color5: gb5
*.color6: gb6
*.color7: gb7
*.color8: gb8
*.color9: gb9
*.color10: gb10
*.color11: gb11
*.color12: gb12
*.color13: gb13
*.color14: gb14
*.color15: gb15
*.color16: gb16
*.color17: gb17
