#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD
#define mybg #1C2023

Sxiv.foreground:nord4
Sxiv.background:mybg


URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.resize-font.step: 1
URxvt.perl-ext-common: resize-font
URxvt.termName: rxvt-unicode
URxvt.scrollBar: false
URxvt.internalBorder: 24
URxvt.font: xft:Monospace:style=Regular:size=14
URxvt.boldFont: xft:Monospace:style=Bold:size=14	
URxvt.italicFont: xft:Monospace:style=Italic:size=14	
URxvt.boldItalicFont: xft:Monospace:style=Bold Italic:size=14	
!URxvt.resize-font.smaller:C-minus
!URxvt.resize-font.bigger:C-plus
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT


URxvt.foreground:  nord4 
URxvt.background: mybg 
URxvt.cursorColor:  nord4
!URxvtfading: 35
!URxvtfadeColor: nord3

URxvt*.color0: nord1
URxvt.color1: nord11
URxvt.color2: nord14
URxvt.color3: nord13
URxvt.color4: nord9
URxvt.color5: nord15
URxvt.color6: nord8
URxvt.color7: nord5
URxvt.color8: nord3
URxvt.color9: nord11
URxvt.color10: nord14
URxvt.color11: nord13
URxvt.color12: nord9
URxvt.color13: nord15
URxvt.color14: nord7
URxvt.color15: nord6


*.color0: mybg
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
*.color16: nord0
*.color17: nord2
